<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxf.cuit.dao.HouseCheckMapper">
<resultMap type="com.mxf.cuit.entity.HouseCheck" id="BaseList">
			<id property="id" column="id"/>
			<result property="userId" column="user_id"/>
			<result property="houseId" column="house_id"/>
			<result property="checkDate" column="check_date"/>
			<result property="leaveDate" column="leave_date"/>
		</resultMap>
</mapper>
